
body {
    padding-top:50px;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.panel-body {
  height: 270px
}

.camera {
  margin: 0 auto;
  width: 320px;
}

.output {
  margin: 0 auto;
  width: 320px;
}
